.home {
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url("https://lh3.googleusercontent.com/QFMF8XxkD115SQ_IcqyNa3Cut3zyQydviKzmBDrL8_6rIEiRVuaoJXaAcQVo7lKz_Y3ubJTpz0nsfh8CSK9FLSakftReJk1MOveNtuRaCGW2dZGvYw8uNQep2dlJCoYo2g=w1280");
  background-repeat: no-repeat;
}
