h1 {
  text-align: center;
  color: #006691;
}

.container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.content-login {
  padding-top: 50%;
}
.login {
  grid-column: 2;
}
.gloo {
  grid-column: 1;
  background-image: url("https://lh5.googleusercontent.com/COuZXIGKky19VOoe1vg3NzFKJ3FSWFXamEFemViT4KhyJCrgBowaJFTlr7tLT3jxtfw-sDboOEjBQx68-fukhEFjmNN2jg_WzCiSuQgBfIOEIJG7a6Id7GzBI3CXyJ-OlQ=w1280");
  background-repeat: no-repeat;
}
.button {
  display: flex;
  justify-content: center;
}
.btn {
  color: #ffffff;
  background-color: #006691;
}
