h2 {
  text-align: center;
  color: #e9eaec;
}

.container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.content-login {
  padding-top: 50%;
}
.login {
  grid-column: 2;
}
.gloo {
  grid-column: 1;
  background-image: url("https://lh3.googleusercontent.com/6UL53O7ZIWHQzWLMUxxxsJ7IWYvNMdpai9h37FH-9JRry4rQYL5i26kbTTcRKGQLcqPmzxXzO1NleU4A1guNKFvQCDzbMfjq-T-TpQBTIcrF13Sc4kLDEztz1YGkztizUA=w1280");
  background-repeat: no-repeat;
}
