<app-navbar></app-navbar>
<div class="container">
  <div class="gloo"></div>
  <div class="content-login">
    <div class="login">
      <h1 class="fs-1 fw-bold">Iniciar Sesión</h1>
      <input
        class="form-control form-control-lg"
        type="text"
        placeholder="@email"
        aria-label=".form-control-lg example"
      />
      <input
        class="form-control form-control-lg mt-5"
        type="text"
        placeholder="Constraeña"
        aria-label=".form-control-lg example"
      />
    </div>
    <div class="button">
      <button type="button" class="btn mt-5">Iniciar Sesion</button>
    </div>
  </div>
</div>
