h1 {
  text-align: center;
  color: #006691;
}

.container {
  height: 100%;
  //background: linear-gradient(to right, #bdbcbb, #637494);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.content-login {
  padding-top: 50%;
}
.login {
  grid-column: 2;
}
.inicioSesion {
  height: 100%;
  border-radius: 2rem;
  position: initial;
}
.gloo {
  grid-column: 1;
  background-image: url("../../../assets/gloo2.png");
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;
}
.button {
  display: flex;
  justify-content: center;
}
.btn {
  color: #ffffff;
  background-color: #006691;
}
.title {
  color: #313745;
}
