<app-navbar></app-navbar>
<div class="container">
  <div class="gloo"></div>
  <div class="content-login">
    <div class="inicioSesion">
      <form [formGroup]="formSingIn">
        <div class="login">
          <h1 class="title fs-1 fw-bold">Iniciar Sesión</h1>

          <input
            formControlName="email"
            class="form-control form-control-lg"
            type="text"
            placeholder="@email"
            aria-label=".form-control-lg example"
          />
          <input
            formControlName="password"
            class="form-control form-control-lg mt-5"
            type="password"
            placeholder="Contraseña"
            aria-label=".form-control-lg example"
          />
        </div>

        <div class="button">
          <button type="button" class="btn mt-3" (click)="login()">
            Iniciar Sesion
          </button>
        </div>
        <hr class="my-4" />
        <div class="d-grid mb-2">
          <button type="button" class="btn mt-2" routerLink="/gloo/register">
            Registrarse
          </button>
          <button
            class="btn btn-secondary text-uppercase fw-bold mt-1"
            (click)="loginGoogle()"
          >
            <i class="bi bi-google"></i> Iniciar con Google
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
