<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="../../assets/icon.jpeg"
        alt="Bootstrap"
        width="50"
        height="50"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fs-4" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/gloo/home']" class="nav-link fs-4" href="#"
            >Guía</a
          >
        </li>
      </ul>

      <button
        class="btn btn-outline-primary"
        type="submit"
        routerLink="/gloo/login"
      >
        Iniciar Sesión
      </button>
    </div>
  </div>
</nav>
