<app-navbar-private></app-navbar-private>
<div class="titel text-center mt-3">
  <h1 class="title fs-1"><strong>Bienvenido al módulo de seguridad</strong></h1>
</div>
<div class="contendorCarrusel d-flex justify-content-center">
  <div class="row d-flex justify-content-center">
    <figure class="icon-cards mt-3">
      <div class="icon-cards__content">
        <div
          class="icon-cards__item d-flex align-items-center justify-content-center"
        >
          <img
            src="../../../assets/ModuleSeguridad.jpeg"
            alt=""
            class="w-100 h-100"
          />
        </div>
        <div
          class="icon-cards__item d-flex align-items-center justify-content-center"
        >
          <img src="../../../assets/gloo2.png" alt="" class="w-100" />
          <span class="p"
            >Si tienes alguna duda dirigete al chatbot, presiona el botón
            "Hablar con Gloo"</span
          >
        </div>
        <div
          class="icon-cards__item d-flex align-items-center justify-content-center"
        >
          <span class="h1">😀</span>
        </div>
      </div>
    </figure>
  </div>
</div>

<div class="contenedorPrincipal">
  <div class="contendorImg d-flex justify-content-center"></div>
  <div class="conatinerVideos mt-2 d-flex justify-content-evenly">
    <div class="row">
      <div class="conatiner mt-2 d-flex justify-content-evenly h-auto">
        <div class="row">
          <div class="col mt-3 d-flex justify-content-start">
            <div class="card m-lg-2">
              <youtube-player
                videoId="OBYVO68_c20"
                [height]="200"
                [width]="500"
                class="d-flex justify-content-center mt-3"
              ></youtube-player>
              <div class="card-body">
                <p class="card-text">
                  SEÑALES DE ALARMA EN PACIENTE OXÍGENO REQUIRIENTE
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col mt-3 d-flex justify-content-start">
          <div class="card m-lg-2">
            <youtube-player
              videoId="i2PL5hb1EUk"
              [height]="200"
              [width]="500"
              class="d-flex justify-content-center mt-3"
            ></youtube-player>
            <div class="card-body">
              <p class="card-text">
                RIESGOS ASOCIADOS AL USO DEL CONCENTRADOR DE OXIGENO
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contenedorPrincipal">
  <div class="contendorImg d-flex justify-content-center"></div>
  <div class="conatinerVideos mt-2 d-flex justify-content-evenly">
    <div class="row">
      <div class="conatiner mt-2 d-flex justify-content-evenly h-auto">
        <div class="row">
          <div class="col mt-3 d-flex justify-content-start">
            <div class="card m-lg-2">
              <youtube-player
                videoId="Swkq1P70sUI"
                [height]="200"
                [width]="500"
                class="d-flex justify-content-center mt-3"
              ></youtube-player>
              <div class="card-body">
                <p class="card-text">SIMBOLOS DE ADVERTENCIA.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col mt-3 d-flex justify-content-start">
          <div class="card m-lg-2">
            <youtube-player
              videoId="a45dvxZ6MJI"
              [height]="200"
              [width]="500"
              class="d-flex justify-content-center mt-3"
            ></youtube-player>
            <div class="card-body">
              <p class="card-text">
                PRECAUCIONES DE USO CONCENTRADOR DE OXIGENO MEDICINAL
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contenedorPrincipalInfo">
  <div class="conatinerVideos mt-2 d-flex justify-content-evenly">
    <div class="row">
      <h1 class="title fs-1 mt-5"><strong>Fichas de seguridad</strong></h1>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              FICHA DE DATOS DE SEGURIDAD
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <img
                class="mx-auto d-block"
                src="../../../assets/FichasSegurdad/OXIGENMEDICINAL_page-0001.jpg"
                alt=""
              />
              <img
                class="mx-auto d-block"
                src="../../../assets/FichasSegurdad/OXIGENMEDICINAL_page-0002.jpg"
                alt=""
              />
              <img
                class="mx-auto d-block"
                src="../../../assets/FichasSegurdad/OXIGENMEDICINAL_page-0003.jpg"
                alt=""
              />
              <img
                class="mx-auto d-block"
                src="../../../assets/FichasSegurdad/OXIGENMEDICINAL_page-0004.jpg"
                alt=""
              />
              <img
                class="mx-auto d-block"
                src="../../../assets/FichasSegurdad/OXIGENMEDICINAL_page-0005.jpg"
                alt=""
              />
              <img
                class="mx-auto d-block"
                src="../../../assets/FichasSegurdad/OXIGENMEDICINAL_page-0006.jpg"
                alt=""
              />
              <img
                class="mx-auto d-block"
                src="../../../assets/FichasSegurdad/OXIGENMEDICINAL_page-0007.jpg"
                alt=""
              />
              <img
                class="mx-auto d-block"
                src="../../../assets/FichasSegurdad/OXIGENMEDICINAL_page-0008.jpg"
                alt=""
              />
              <img
                class="mx-auto d-block"
                src="../../../assets/FichasSegurdad/OXIGENMEDICINAL_page-0009.jpg"
                alt=""
              />
              <img
                class="mx-auto d-block"
                src="../../../assets/FichasSegurdad/OXIGENMEDICINAL_page-00010.jpg"
                alt=""
              /><img
                class="mx-auto d-block"
                src="../../../assets/FichasSegurdad/OXIGENMEDICINAL_page-00011.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
