<app-navbar-private></app-navbar-private>
<div class="titel text-center mt-3">
  <h1 class="title fs-1">
    <strong>Bienvenido al módulo de Mantenimiento y Tecnovigilacia</strong>
  </h1>
</div>
<div class="contendorCarrusel d-flex justify-content-center">
  <div class="row d-flex justify-content-center">
    <figure class="icon-cards mt-3">
      <div class="icon-cards__content">
        <div
          class="icon-cards__item d-flex align-items-center justify-content-center"
        >
          <img
            src="../../../assets/tecnoyManteniminto.jpeg"
            alt=""
            class="w-100 h-100"
          />
        </div>
        <div
          class="icon-cards__item d-flex align-items-center justify-content-center"
        >
          <img src="../../../assets/gloo2.png" alt="" class="w-100" />
          <span class="p"
            >Si tienes alguna duda dirigete al chatbot, presiona el botón
            "Hablar con Gloo"</span
          >
        </div>
        <div
          class="icon-cards__item d-flex align-items-center justify-content-center"
        >
          <span class="h1">😀</span>
        </div>
      </div>
    </figure>
  </div>
</div>

<div class="contenedorPrincipalInfo">
  <div class="conatinerVideos mt-5 d-flex justify-content-evenly">
    <div class="row text-center">
      <h1 class="title fs-1 mt-5"><strong>MANTENIMIENTO</strong></h1>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              videos Guias
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <div class="col mt-3 d-flex justify-content-center">
                <div class="card m-lg-2">
                  <youtube-player
                    videoId="7avwrYV41WM"
                    [height]="200"
                    [width]="500"
                    class="d-flex justify-content-center mt-3"
                  ></youtube-player>
                  <div class="card-body">
                    <p class="card-text">
                      LIMPIEZA Y DESINFECCIÓN DE CILINDROS DE OXÍGENO MEDICINAL.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col mt-3 d-flex justify-content-center">
                <div class="card m-lg-2">
                  <youtube-player
                    videoId="QYozZRfxxY8"
                    [height]="200"
                    [width]="500"
                    class="d-flex justify-content-center mt-3"
                  ></youtube-player>
                  <div class="card-body">
                    <p class="card-text">
                      SOLUCIÓN A FALLAS CILINDRO DE OXÍGENO
                    </p>
                  </div>
                </div>
              </div>
              <div class="col mt-3 d-flex justify-content-center">
                <div class="card m-lg-2">
                  <youtube-player
                    videoId="GB3bgsd9vzE"
                    [height]="200"
                    [width]="500"
                    class="d-flex justify-content-center mt-3"
                  ></youtube-player>
                  <div class="card-body">
                    <p class="card-text">
                      TIPS DE LIMPIEZA Y DESINFECCIÓN PARA TU CONCENTRADOR DE
                      OXÍGENO MEDICINAL.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col mt-3 d-flex justify-content-center">
                <div class="card m-lg-2">
                  <youtube-player
                    videoId="GVf2iw8ZLdM"
                    [height]="200"
                    [width]="500"
                    class="d-flex justify-content-center mt-3"
                  ></youtube-player>
                  <div class="card-body">
                    <p class="card-text">
                      PROTOCOLO DE LIMPIEZA Y DESINFECCION CONCENTRADORES DE
                      OXIGENO
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contenedorPrincipalInfoCilindro">
  <div class="conatinerVideos mt-5 d-flex justify-content-evenly">
    <div class="row text-center">
      <h1 class="title fs-1 mt-5"><strong>TECNOVIGILACIA</strong></h1>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Videos Guía
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div class="col mt-3 d-flex justify-content-center">
                <div class="card m-lg-2">
                  <youtube-player
                    videoId="VVmk_praCyE"
                    [height]="200"
                    [width]="500"
                    class="d-flex justify-content-center mt-3"
                  ></youtube-player>
                  <div class="card-body">
                    <p class="card-text">DISPOSITIVO BIOMÉDICO</p>
                  </div>
                </div>
              </div>
              <div class="col mt-3 d-flex justify-content-center">
                <div class="card m-lg-2">
                  <youtube-player
                    videoId="g25dCDAzRek"
                    [height]="200"
                    [width]="500"
                    class="d-flex justify-content-center mt-3"
                  ></youtube-player>
                  <div class="card-body">
                    <p class="card-text">APRENDAMOS SOBRE TECNOVIGILANCIA</p>
                  </div>
                </div>
              </div>
              <div class="col mt-3 d-flex justify-content-center">
                <div class="card m-lg-2">
                  <youtube-player
                    videoId="60NP7ywsfHU"
                    [height]="200"
                    [width]="500"
                    class="d-flex justify-content-center mt-3"
                  ></youtube-player>
                  <div class="card-body">
                    <p class="card-text">
                      MECANISMOS DE REPORTES TECNOVIGILANCIA
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
